<ion-view title="Order History" >
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios7-arrow-left" ng-click="contentback()"></button>
    </ion-nav-buttons>
    
                <ion-content class="has-header">
                    <ion-list ng-if="device=='iphone'">
                        <ion-item class="item item-button-right" ng-repeat="item in history|reverse" type="item-text-wrap" class="item" ng-click="ordersClickFtn(item.id);">
                            {{$index+1}}. Order ID: {{item.title}}
                            <p style="padding:0; margin-bottom:0px; margin-left:18px;">Order Date: {{item.elements[0].title}}</p>
                            <p style="padding:0; margin-bottom:0px; margin-left:18px;">Total: ${{item.elements[0].price}}</p>
                            <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Pending'">Status: <span style="color:#ef4e3a;">{{item.elements[0].additional_field}}</span></p>
                            <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Delivered'">Status: <span style="color:#66cc33;">{{item.elements[0].additional_field}}</span></p>
                            <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Returned'">Status: <span style="color:#444;">{{item.elements[0].additional_field}}</span></p>
                            <button class="button button-positive button-outline" style="border:none;" ng-click="">
                                <i class="icon ion-ios7-eye " ></i>
                            </button>
                        </ion-item>
                    </ion-list>
                    <div class="card" ng-if="device=='ipad'" style="padding:5% 5% 5% 5%">
                        <ion-list>
                            <ion-item class="item item-button-right" ng-repeat="item in history|reverse" type="item-text-wrap" class="item" ng-click="ordersClickFtn(item.id);">
                                {{$index+1}}. Order ID: {{item.title}}
                                <p style="padding:0; margin-bottom:0px; margin-left:18px;">Order Date: {{item.elements[0].title}}</p>
                                <p style="padding:0; margin-bottom:0px; margin-left:18px;">Total: ${{item.elements[0].price}}</p>
                                <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Pending'">Status: <span style="color:#ef4e3a;">{{item.elements[0].additional_field}}</span></p>
                                <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Delivered'">Status: <span style="color:#66cc33;">{{item.elements[0].additional_field}}</span></p>
                                <p style="padding:0; margin-bottom:0px; margin-left:18px;" ng-if="item.elements[0].additional_field=='Returned'">Status: <span style="color:#444;">{{item.elements[0].additional_field}}</span></p>
                                <button class="button button-positive button-outline" style="border:none;" ng-click="">
                                    <i class="icon ion-ios7-eye " ></i>
                                </button>
                            </ion-item>
                        </ion-list>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                 </ion-content>

</ion-view>