<ion-view title="Shopping App">
    
  <ion-content  style="background-image : url('img/main_page.png'); background-size:100% 100%; background-repeat:no-repeat;">
       <div class="padding" ng-if="device=='iphone'">
           </br>
           </br>
           </br>
           </br>
           <img src="img/shopkeeper.png" width="30%" style="margin-left:15%" ng-click="shopkeper()"/>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           <img src="img/btn_customer.png" width="30%" align="right" style="margin-right:15%" ng-click="customer()"/>
           </div>
       
       <div class="padding" ng-if="device=='ipad'">
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           <img src="img/shopkeeper.png" width="30%" style="margin-left:15%" ng-click="shopkeper()"/>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           </br>
           <img src="img/btn_customer.png" width="30%" align="right" style="margin-right:15%" ng-click="customer()"/>
       </div>
  </ion-content>
</ion-view>